<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> authentication </title>

	<link type="text/css" rel="stylesheet" href="styles/auth.css">
</head>
<body>
	<div id="container">
		<div class="brand">
			simple phone
		</div>
		<form id="log_in" name="form_log_in" method="POST" action="auth/log_in">
			user name : <input type="text" name="user_name" />
			pass word : <input type="text" name="pass_word" />
			<input type="submit" value="log in" />
		</form>
		<!--
		<div id="sign_up">
			player name : <input type="text" id ="sign_up_user_name">
			pass word : <input type="text" id ="sign_up_pass_word">
			<div class="button" onclick="handle_click_sign_up()"> sign up </div>
		</div>
		-->
	</div>

	<script defer src="scripts/auth.js"></script>
</body>
</html>
