<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> simple phone! </title>

	<link rel="stylesheet" type="text/css" href="styles/index.css">
</head>
<body>
	<div id="container">
		<input type="text" id="text_search" oninput="search()" />
		<div class="list search"></div>
		<div class="list_video_container">
			<div class="item_video_container local">
				<video class='video local' width="100%" height="90%" muted='muted' autoplay="true"></video>
			</div>
		</div>
		<div class="controller">
			<div class='button call_end' onclick='call_end()'> end </div>
			<div class='button' onclick='toggle_mic()'> mic </div>
			<div class='button' onclick='toggle_pip()'> pip </div>
			<div class='button' onclick='toggle_canvas()'> canvas </div>
		</div>
		<div class="list_incoming_call"></div>
		<canvas></canvas>
		<div class='button theme' onclick='change_theme()'> theme </div>
	</div>

	<!--<script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/1.4.7/peerjs.min.js"></script>
	<!--<script defer src="libraries/peerjs.min.js"></script>-->

	<script defer src="scripts/add_item_incoming_call.js"></script>
	<script defer src="scripts/add_item_search.js"></script>
	<script defer src="scripts/add_item_video_container.js"></script>

	<script defer src="scripts/call_accept.js"></script>
	<script defer src="scripts/call_decline.js"></script>
	<script defer src="scripts/call_end.js"></script>
	<script defer src="scripts/call_make.js"></script>

	<script defer src="scripts/canvas.js"></script>
	<script defer src="scripts/controllers.js"></script>
	<script defer src="scripts/handle_conn_data.js"></script>
	<script defer src="scripts/handle_incoming_call.js"></script>
	<script defer src="scripts/load.js"></script>
	<script defer src="scripts/peer_events.js"></script>
	<script defer src="scripts/search.js"></script>
</body>
</html>
