* {
	overflow: hidden;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*background-color: rgb(112, 112, 112);*/
	color: rgb(0, 0, 0);
	font-family: 'Trebuchet MS';
	font-size: 5vmin;
	font-weight: 1000;
}
div , input , video {
	border-radius: 10px;
}
div , input {
	background-color: rgba(95, 95, 95, 0.2);
	border: 1px solid rgb(0, 0, 0);
	box-shadow: 5px 5px 5px rgb(0, 0, 0);
	backdrop-filter: blur( 5px );
}/*
body {
	border-radius: 0;
}*/
#container {
	position: relative;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-image: url("../assets/images/21.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 0;
}
#text_search, .controller {
	height: 10%;
}
#text_search {
	position: relative;
	left: 5vh;
	top: 5vh;
	width: 30%;
	background-color: rgb(0, 0, 0, 0);
	text-indent: 2vh;
}
.list.search, .list_video_container, canvas {
	height: 75%;
}
.list.search {
	position: relative;
	left: 5vh;
	top: 10vh;
	width: 30%;
	overflow-y: visible;
}
.item.search, .item_incoming_call {
	position: relative;
	height: 10vh;
	margin-top: 2vh;
	padding-left: 2vh;
	display: flex;
	align-items: center; /*y*/
}
.item.search {
	left: 2vh;
	top: 2vh;
	width: 92%;
}
.list_incoming_call, .list_video_container, canvas {
	position: absolute;
	left: 35vw;
	top: 5vh;
	width: 62%;
	display: flex;
}
.list_incoming_call, .controller, canvas {
	visibility: hidden;
}
.list_incoming_call {
	height: max-content;
	/*margin-left: 2vh;*/
	padding-bottom: 2vh;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center; /*y*/
	justify-content: center; /*x*/
}
.item_incoming_call {
	left: 0vh;
	top: 0vh;
	width: 96%;
	/*justify-content: flex-end;*/
}
.list_video_container {
	/*z-index: 4;*/
	display: flex;
	/*flex-direction: column;*/
	flex-wrap: wrap;
	/*align-items: flex-start;*/
	/*justify-content: center;*/
	overflow-y: auto;
}
canvas {
	display: flex;
	z-index: 5;
}
.item_video_container {
	position: relative;
	left: 0;
	top: 0;
	width: 40%;
	height: 60%;
	margin-left: 2vh;
	margin-top: 2vh;
	text-indent: 2vh;
	display: flex;
	justify-content: flex-start; /*x*/
}
.video { /* video */
	position: absolute;
	bottom: 0;
	/*width: 100%;
	height: 90%;*/
	display: flex;
	/*object-fit: contain;*/
}
.controller {
	position: absolute;
	left: 35%;
	top: 85%;
	width: 62%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center; /*x*/
	align-items: center; /*y*/
}
.controller > .button {
	/*position: relative;
	left: 0;
	top: 10%;*/
	width: 15%;
	height: 80%;
	margin-left: 2vh;
}

.button {
	display: flex;
	align-items: center; /*y*/
	justify-content: center; /*x*/
	/*animation: scaler 0.5s ease-in-out 0s 1;*/
	/*animation-play-state: paused;*/
}
.button:hover {
	transform: scale(110%);
}/*
@keyframes scaler {
	0% {
		transform: scale(100%);
	}
	50% {
		transform: scale(60%);
	}
	100% {
		transform: scale(100%);
	}
}*/

.call_make, .call_accept, .call_end, .call_decline {
	height: 80%;
}
.button.call_make, .button.call_accept {
	background-color: rgb(80, 255, 80);
}
.button.call_end, .button.call_decline {
	background-color: rgb(255, 80, 80);
}
.button.call_make {
	position: absolute;
	right: 2%;
	/*top: 0;*/
	width: max-content;
	padding: 1vh;
}
.button.call_end {
}
.button.call_accept, .button.call_decline {
	display: flex;
	position: absolute;
	top: 10%;
	width: 15%;
}
.button.call_accept {
	right: 19%;
}
.button.call_decline {
	right: 2%;
}
.button.theme {
	position: absolute;
	left: 94vw;
	top: 94vh;
	width: 6vw;
	height: 6vh;
	visibility: hidden;
}
.list_video_container::-webkit-scrollbar {
	background-color: rgb(136, 136, 136);
}
